/*Everything Else CSS*/

body {
	background-image:url('../images/Stars.gif');
}

.center {
	text-align:center
}

.stackoverflow {
	color:#FF8000;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fourchan {
	color:#04B404;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.macupdate {
	color:#CADDEE;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.deviantart {
	color:#C9D7C5;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.photobucket {
	color:#0550A5;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.YahooAnswers {
	color:#63CF00;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Avatarspirit {
	color:#F1E0CB;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Gamewinners {
	color:#EFEFCC;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.Tineye {
	color:#6BC2DD;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.onlineconversion {
	color: #C5D1FF;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.apple {
	color:white;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.flamingtext {
	color:#F31000;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.macosxhints {
	color:#2F156B;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bungie {
	color:#0F171F;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.xbox360a {
	color:#82AD0F;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.illwillpress {
	color:#D5DE78;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.celestia {
	color:#2A2521;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.rcp {
	color:red;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.trueachievements {
	color:#B7F11D;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.howardbeach {
	color:#339966;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.cnet {
	color:#c50202;
	font-family:"cambria";
	font-size:40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
