/*HomePage CSS*/

body {
	background-image:url('../images/clouds%201.png');
}

.center {
	text-align:center;
}

.text{
	color:blue;
}

.c{
	color:#3C3C59;
	font-weight:bold;
}
.date {
	color:black;
	font-weight:bold;
}

table {
  margin-left: auto;
  margin-right: auto;
}
  
